* {
  font-family: 'Libre Baskerville', sans-serif;
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  width: 100%;
  margin: 0px;
}

.top-nav-bar {
  background-color: rgb(51, 71, 89);
  overflow: hidden;
}

.top-nav-bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
}

.top-nav-bar a:hover {
  background-color: white;
  color: rgb(51, 71, 89);
}

.top-nav-bar a.active {
  background-color: #228B22;
  color: white;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left {
  background-image: url("/images/garrett_ladley_fall21.jpeg");
  background-position: center;
  background-size: cover;
  max-height: 100%;
  height: 750px;
  max-width: 66.7%;
  width: 66.7%;
}

.right {
  height: 750px;
  width: 33.3%;
  padding-top: 30px;
}

.big-text {
  text-align: center;
  font-weight: 500;
  font-size: 50pt;
  font-family: 'EB Garamond', sans-serif;
}

.paragraph {
  margin: 25px 25px;
}

.logo-group {
  text-align: center;
}

.logo {
  margin-top: 50px;
  height: 60px;
}

.rectangle {
  margin: 10 0 0 10;
  border-top: 5px solid rgb(51, 71, 89);
  height: 0;
  width: 100%;
}