*{ 
    font-family: 'Libre Baskerville', sans-serif;
  }
  
  html {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  body{
    width: 100%;
    margin:0px;

}
.topnav {
  background-color: rgb(51,71,89);
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: rgb(51,71,89);
}

.topnav a.active {
  background-color: #228B22;
  color: white;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }

.nav-item {
	text-align: right;
	margin-right: 40px;
	text-transform: uppercase;
	font-weight: 700;
}


  .background-overlay {
    height: 750px;
    width: 33.3%;
    padding-top: 30px;
  }

.intro-big-text {
  text-align: center;
    font-weight: 500;
    font-size: 50pt;
    font-family: 'EB Garamond', sans-serif;
}
.intro-body {
    margin: 75px 25px;
}

.intro-logos {
    margin-top: 15px;
    height: 60px;
}

#logos{
  text-align: center;
}

  .intro-rectangle {
    float: left;
    margin: 10 0 0 -25;
    border-top: 5px solid rgb(51,71,89);
    border-right: 5px solid rgb(51,71,89);
    height: 0;
    width: 100%;
  }


  .glImage {
    background-image: url("/images/garrett_ladley_fall21.jpeg");
    background-position: center;
    background-size: cover;
    max-height: 100%;
    height:initial;
    width: 66.7%;
  }
